<h1>
  Add a new favorite show
</h1>

<hr>

<%= render("favorite_show_templates/validation_failures.html.erb") %>

<form action="/insert_favorite_show_record" method="post">
  <div>
    <label for="show_name">
      Show
    </label>

<select name="show_id" id="user_dropdown">
  
  <% @shows.each do |show| %>
    <option value="<%= show.id %>">
      <%= show.title %>
    </option>
  <% end %>
</select>

    <label for="user_id">
    </label>

    <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">
  </div>

<p></p>
  <div>
    <label for="viewing_locations_id">
      Viewing locations
    </label>

<select name="viewing_locations_id" id="user_dropdown">
  
  <% @viewing_locations.each do |vl| %>
    <option value="<%= vl.id %>">
      <%= vl.location_name %>
    </option>
  <% end %>
</select>
<p></p>
  <button style="background-color:Pink">
    Create favorite show
  </button>
</form>

<hr>

<a href="/favorite_shows">
  Go back
</a>
