<h1>
  Show Details: <%= @favorite_show.show_name %>
</h1>

<div>
  <div>
    <a href="/favorite_shows">
      Go back
    </a>
  </div>

  <div>
    <a href="/existing_favorite_show_form/<%= @favorite_show.id %>">
      Edit favorite show
    </a>
  </div>

  <div>
    <a href="/delete_favorite_show/<%= @favorite_show.id %>">
      Delete favorite show
    </a>
  </div>
</div>
<p></p>
<dl>
  <dt>
    Show
  </dt>
  <dd>
    <%= @favorite_show.show_name %>
  </dd>

  <dt>
    Viewing Location
  </dt>
  <dd>
    <%= @favorite_show.vl %>
  </dd>

  <dt>
    Channel
  </dt>
  <dd>
    <%= @favorite_show.show_channel %> 
  </dd>

  <dt>
   Show Time
  </dt>
  <dd>
    <%= @favorite_show.show_time.strftime("%A, %I:%M%p") %> 
  </dd>
  
  <dt>
    Show Description
  </dt>
  <dd>
    <%= @favorite_show.show_description %>
  </dd>
</dl>

