<h1 style = "color:Green;">
 TV Show List
</h1>
<p></p>
<h2>
  Welcome! You are logged in as: 
  <% if current_user.nil? %>
  <% else %>
  <%= current_user.email %>
  <% end %>
</h2>
<p></p>
<a href="/shows">
  All Shows
</a>
<br>
<a href="/favorite_shows">
  My Favorite Shows
</a>
<br> <a href="/channels">
  Channel Info
</a>
<br> <a href="/viewing_locations">
  Viewing Location Info
</a>
<br> <a href="/new_show_form">
  Add a new show
</a>
<br>
<a href="/users/sign_in" >
  Sign In
</a>

<br><a href="/users/sign_out" rel= "nofollow" data-method= "delete" >
  Logout
</a>

<hr>

<table>
  <tr>

    <th>
      Title
    </th>

    <th>
      Description
    </th>

    <th>
      Time
    </th>

    <th>
      Channel
    </th>

    <th>
    </th>
  </tr>

  <% @shows.each do |show| %>
  <tr>

    <td>
      <%= show.title %>
    </td>

    <td>
      <%= show.description %>
    </td>

    <td>
      <%= show.time.strftime("%A, %I:%M%p") %>
    </td>

    <td>
      <%= Channel.where({ :id => show.channel_id }).at(0).name  %>
    </td>


    <td>
      <a href="/shows/<%= show.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>

